* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  background: #121214;

  display: flex;
  place-items: center;

  min-height: 100vh;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

#app {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  width: 90%;
  max-width: 42rem;
  margin: 0 auto;

  padding: 2.8rem 6rem 4rem;
  background: #202024;
  border: 0.1rem solid #323238;
  border-radius: 0.6rem;
  position: relative;
}

#app header {
  display: flex;
  align-items: center;
}

#app #alert-confirm {
  background: rgb(20, 196, 47);
  position: absolute;
  top: 1rem;
  right: 8rem;
  padding: 1rem 5rem;
  border-bottom: 4px solid rgb(7, 130, 26);
  border-radius: 0.8rem;
  animation-name: showAlert;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: background ease-in-out;
}
#app #alert-error {
  background: rgb(203, 43, 43);
  position: absolute;
  top: 1rem;
  right: 8rem;
  padding: 1rem 5rem;
  border-bottom: 4px solid rgb(168, 16, 16);
  border-radius: 0.8rem;
  animation-name: showAlert;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: background ease-in-out;
}

@keyframes showAlert {
  0% {
    visibility: hidden;
    transform: translateX(15%);
    opacity: 0;
  }

  50% {
    visibility: visible;
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    transform: translateX(0);
    opacity: 0;
  }
}
